/* Reset Geral */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size:1.3 rem;
    box-sizing: border-box;

}

/* Corpo da página */
body {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration:none;
}


/* Cabeçalho */
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #ff914d;
    border-radius: 5px;
}


header a .imagem{
    width: 200px;
    height: auto;
    
}



header a:hover {
    color: #fff;
    transform: scale(1.1);
    transition: 0.3s;
}


/*navegação no cabeçalhO*/


header .menu {
    margin-left: auto;
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
}

header ul li {
    margin-left: 20px;
    padding: 10px 5px;
}

header nav ul li a {
    display:block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    font-size: xx-large;
}

header nav ul li a:hover{
    color: #fff;
    
}

/* Seção principal */
section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:20px;
    gap: 50px;
    
}

main {
    flex-basis:70%; /*ocupa 70% largura*/
    padding:20px;
}

main .foto {
    margin: 5px;
    float: left;
    height: 40%;
    width: 15%;
    border-radius: 30px;
    ;
}

main .titulos {
margin-top: 5px;
padding: 10px;
}

aside {
    flex-basis:30%; /*ocupa 30% largura*/
    height: 30%;
    width: 12%;
    position: fixed;
    right: 40px;
    top: 270px;
    background-color:#ff914d;
    border-radius: 5px;
    padding: 20px;
    text-align: center;   
}

aside .banner-github {
display: flex;    
flex-direction: column;
align-items: center;
margin-top:20px;
margin-bottom: 20px;
}

aside .banner-linkedin {
    display: flex;    
    justify-content:center;
    margin-top: 10px; /* Margem inferior para espaçamento */
    }

    .banner-github img:hover {
        filter: brightness(0) invert(1); /* Muda a imagem para branca */
    }

    .banner-linkedin img:hover {
        filter: brightness(0) invert(1); /* Muda a imagem para branca */
    }

/* Topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

.topo-do-site h1 {
    color: #ff914d;
    font-size: 35px;
}

.topo-do-site h2 {
    color: #fff;
}

.topo-do-site h2 span {
    color: #ff914d;
    font-size: 60px;
}

.topo-do-site p {
    color: #fff;
    margin: 60px 0;
}

.topo-do-site .txt-topo-do-site p {
    color: #fff;
    margin: 20px 10px;
    font-size: 50px;
}


.column-side {
    color: #000;
}

/* Rodapé */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #ff914d;
    border-radius: 5px;
    text-align:center;
}

footer .rodape {
   height: 50px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}

/* Imagens */
img {
    width: 100%;
    max-width: 95%;
    height: 40px;
    display:block;
    margin: 0 auto;
}

.sobre {

}